<div class="alpha-container">
  <%= form_for(@user, url: user_session_path) do |f| %>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email 地址" %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <%= f.password_field :password, class: "form-control", placeholder: "登录密码" %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </span>
    </div>
  <% end %>
</div>
