<div class="alpha-container">
  <form>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      <input type="text" name="email" class="form-control" placeholder="Email 地址">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" name="password" class="form-control" placeholder="登录密码">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </span>
    </div>
  </form>
</div>
