<head>
  <meta charset="utf-8">
  <title>阿森纳中国网 - 全球最大的阿森纳中文网站 - Arsenal.com.cn</title>
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
</head>
