// Place all the styles related to the alpha controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Mixins

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Styles

body.alpha-page {
  background-image: url(image_path("background.jpg"));
  background-position: center -240px;
  .alpha-banner {
    display: block;
    margin: 0 auto;
  }
  .alpha-container {
    width: 300px;
    margin: 390px auto 10px auto;
    padding-left: 2px;
    form {
      .input-group {
        margin: 16px 0;
        @include border-radius(4px);
        @include box-shadow(0, 0, 16px, #000);
      }
    }
  }
  .alpha-notice {
    width: 300px;
    margin: 10px auto;
    .notice, .alert {
      padding: 0;
      text-align: center;
    }
    .notice {
      color: #9a9;
    }
    .alert {
      color: #faa;
    }
  }
}
